{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <form action="" method="post" class="my-[100px]">
        <label for="search"></label>
        <div class="flex items-center justify-center">
            <input type="search" name="search" id="search" placeholder="Recherche.." class="block w-1/2 p-4 pl-10 text-sm text-gray-900 border border-gray-300 rounded-l bg-gray-50 focus:border-gray-600 focus:ring-gray-600">
            <button type="submit" class="text-white bg-gray-600 rounded-r p-4 hover:bg-gray-700">Rechercher</button>
        </div>
    </form>
    <h1 class="text-center font-semibold text-6xl">Bienvenue sur Event Time</h1>
    <a href="{{path('app_event')}}" class="flex mx-auto bg-gray-600 w-fit rounded-lg text-white p-4 mt-12 hover:bg-gray-700">Voir la liste des évènements</a>
{% endblock %}
