{% form_theme form 'tailwind_2_layout.html.twig' %} 
{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <h1 class="text-center font-semibold text-6xl">Bienvenue sur Event Time</h1>
    <a href="{{path('app_event')}}" class="flex mx-auto bg-gray-600 w-fit rounded-lg text-white p-4 mt-12 hover:bg-gray-700">Voir la liste des évènements</a>
    {{form_start(form, {'attr': {'class': 'block text-center mt-8'}})}}
        {{form_widget(form.searchBar, {'attr': {'class': 'w-1/4 border-2'}})}}
        <button class="bg-gray-600 text-white p-2 rounded">Rechercher</button>
    {{form_end(form)}} 
{% endblock %}
