

{% block body %}
    {# ajouter une action au form #}
      {{form_start(form, {'attr': {'class': 'block text-center mt-8'}})}}
        {{form_widget(form.searchBar, {'attr': {'class': 'w-1/4 border-2'}})}}
        <button class="bg-gray-600 w-fit rounded-lg text-white p-2 mt-12 hover:bg-gray-700">Rechercher</button>
    {{form_end(form)}} 
  
{% endblock %}
