{% form_theme form 'tailwind_2_layout.html.twig' %}
{% extends "base.html.twig" %}

{% block body %}
<div class="w-1/3 mx-auto flex justify-center p-4 border-4 shadow-xl">
    {{form_start(form)}}
        {{form_widget(form)}}
        <div class="text-center">
            <button class="bg-gray-600 text-white p-2 rounded hover:bg-gray-700" formnovalidate>Rejoindre l'événement</button>
        </div>
    {{form_end(form)}}
</div>
    

{% endblock %}